.resume-btn-style {
  width: 100%;
  margin-top: 60px;
  margin-bottom: -60px;
}

.inner-Resume {
  background-color: #fdb51b;
  border-radius: 50%;
  padding: 3.5% 1%;
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

.inner-Resume:hover {
  background-color: #cc9215;
}

.about {
  display: flex;
  flex-direction: row;
}

.about-content .summary-content {
  padding: 5px 20px 0 20px;
  color: #161922;
  text-align: justify;
  font-size: clamp(12px, 3vw, 16px);
}

.about-content .summary-content a {
  text-decoration: none;
  color: rgb(16, 128, 239);
}

.about-content .summary-heading {
  padding: 0 20px 0 20px;
  color: #161922;
  font-size: 30px;
}

.about-button {
  background-color: #fd6037;
  margin: 20px 0px 20px 0px;
  padding: 5px 60px;
  border-radius: 50px;
  transition: 0.5s linear;
}

.about-button:hover {
  background-color: #b04429;
}

.image-summary {
  font-size: 18px;
  padding: 20px 30px 10px 15px;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-content,
.about-img {
  box-sizing: border-box;
}

.about-content {
  align-items: center;
  width: 50%;
}

.about-img {
  filter: hue-rotate(60px);
  width: 30%;
}

.img-2 {
  filter: brightness(0.1);
  filter: saturate(0) brightness(0.7);
}

.heading {
  padding: 10px 0;
  color: #fdb51b;
  font-size: 50px;
  font-family: "Protest Strike", sans-serif;
}

@media only screen and (max-width: 650px) {
  .resume-btn-style {
    margin-bottom: -50px;
  }

  .inner-Resume {
    background-color: #fdb51b;
    border-radius: 50%;
    padding: 9% 2%;
  }

  .container {
    flex-direction: column-reverse;
  }

  .about-img,
  .about-content {
    width: 100%;
  }

  .about-button {
    margin: 20px 0px 20px 0px;
  }

  .img-2 {
    display: block;
  }

  .heading {
    color: #010510;
    font-size: 33px;
    text-align: center;
    font-family: "Protest Strike", sans-serif;
  }

  .summary-heading {
    font-size: 30px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 920px) {
  .resume-btn-style {
    margin-bottom: -65px;
  }

  .inner-Resume {
    background-color: #fdb51b;
    border-radius: 50%;
    padding: 6% 2%;
  }

  .about-img,
  .about-content {
    width: 100%;
  }

  .about-button {
    margin: 20px 0px 20px 0px;
  }

  .img-2 {
    display: none;
  }

  .heading {
    font-size: 50px;
  }
}
