.github {
  text-align: center;
  background-color: #0a0c10;
  padding: 0px clamp(20px, 5vw, 60px);
}

.github h2 {
  padding: 10px;
  color: #fdb51b;
}

.github-calendar{
  display: flex;
  flex-direction: column;
  text-align: center;
}