.github {
  text-align: center;
  background-color: #0a0c10;
  padding: 0px clamp(20px, 5vw, 60px);
}

.github h2 {
  padding: 10px;
  color: #fdb51b;
}

.github .box {
  color: beige;
  font-size: clamp(8px, 1vw, 12px);
  padding: 8px 0;
  margin: 0 2px;
  text-align: end;
}

.github .box span {
  padding: 0px clamp(4px, 0.5vw, 6.6px);
  margin: 2px;
  border-radius: 2px;
}

.github .box span:hover {
  cursor: pointer;
}

.github .box .span1 {
  background-color: #161b22;
}
.github .box .span5 {
  background-color: #39d353;
}
.github .box .span4 {
  background-color: #26a641;
}
.github .box .span3 {
  background-color: #006d32;
}
.github .box .span2 {
  background-color: #0e4429;
}

.react-calendar-heatmap .color-empty {
  fill: #161b22;
  rx: 2px;
  ry: 2px;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #0e4429;
  rx: 2px;
  ry: 2px;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #006d32;
  rx: 2px;
  ry: 2px;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #26a641;
  rx: 2px;
  ry: 2px;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #39d353;
  rx: 2px;
  ry: 2px;
}

.react-calendar-heatmap .color-scale-0 {
  fill: #161b22;
  rx: 2px;
  ry: 2px;
}
