.skills {
  background-color: #161922;
  padding: 65px clamp(125px, 20vw, 355px);
}

.skill-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-container li {
  list-style: none;
  margin: 25px;
  padding: 25px;
  background-color: transparent;
  border: 2px solid #575439;
  box-shadow: 3px 3px 10px -4px #8e9060;
  text-align: center;
  transition: all 0.4s ease 0s;
}

.skill-container li:hover {
  cursor: pointer;
  border: 2px solid #7a7452;
  scale: 1.05;
}

@media only screen and (max-width: 650px) {
  .skills {
    padding: 65px 0px;
  }

  .skill-container li {
    margin: 10px;
    padding: 5px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 920px) {
  .skills {
    padding: 65px 150px;
  }

  .skill-container li {
    margin: 10px;
    padding: 10px;
  }
}
