.work-content {
  box-sizing: border-box;
  align-items: center;
  width: 50%;
}

.work-content .summary-content {
  padding: 5px 20px 0 20px;
  text-align: justify;
  font-size: clamp(12px, 3vw, 16px);
}

.summary-img {
  width: 45%;
}

.summary-details {
  width: 55%;
}

.summary-img img {
  width: 100%;
  border-radius: 3px;
  filter: brightness(0.8);
}

.work-content .summary-content a {
  text-decoration: none;
  color: rgb(16, 128, 239);
}

.work-content .summary-heading {
  padding: 0 20px 0 20px;
  font-size: 30px;
}

.work-content .single-sec {
  display: flex;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 0.25px #161922;
  color: #161922;
  padding: 10px;
  margin: 10px;
  transition: 0.3s ease-in;
}

.work-content .single-sec:hover {
  background-color: #161922;
  color: #fff;
  cursor: pointer;
  scale: 1.02;
}

@media only screen and (max-width: 650px) {
  .work-content {
    width: 100%;
  }

  .work-content .summary-heading {
    font-size: 20px;
  }

  .summary-img {
    width: 100%;
    padding: 0 5px 4px 5px;
  }
  
  .summary-details {
    width: 100%;
  }

  .work-content .single-sec {
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .work-content {
    width: 100%;
  }

  .work-content .summary-heading {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .work-content {
    width: 70%;
  }
}