.card-container .card img {
    width: 100%;
    height: 100%;
    display: block;
}

.card-container {
    max-width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0px;
    margin-inline: 15px;
}

.card {
    min-width: 0px;
    height: 100%;
    border: 3px solid #161922;
    box-shadow: 3px 3px 10px -4px #161922;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    transition: flex-grow 2s cubic-bezier(0.16, 1, 0.3, 1);
    --transition-timing: 0.5s;
}

.card:hover {
    border: solid #272a33;
    flex-grow: 7;
}

.card>.background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
    z-index: 1;
    transition: var(--transition-timing) ease;
}

.card:hover>.background {
    filter: brightness(1);
}

.card>.card-content {
    /* display: flex; */
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    overflow: hidden;
    transition: var(--transition-timing);
    z-index: 1;
}

.card:hover>.card-content {
    inset: 10px;
    top: auto;
    background-color: #161922;
    padding: 10px;
    border-radius: 3px;
}

.card-content>* {
    transition: var(--transition-timing);
}

.card-content>.title {
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
    color: #F6EEE1;
    font-size: clamp(9px, 2vw, 20px);
    font-weight: 800;
}

.card:hover .title {
    opacity: 1;
    translate: 0 0;
}

.card-content>.desc {
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
    color: #F6EEE1;
    font-size: clamp(7px, 2vw, 16px);
}

.card:hover .desc {
    opacity: 1;
    translate: 0 0;
}

.card>.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.cards {
    margin: 0px clamp(10px, 3vw, 30px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards .card1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 1000ms;
}

.cards .card1:hover {
    transform: scale(1.02, 1.02);
}

.cards:hover>.card1:not(:hover) {
    filter: blur(5px);
    transform: scale(0.95, 0.95);
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}