.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  border: 2px solid #0e111c;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 10px 20px rgba(84, 82, 7, 0.2);
  overflow: hidden;
  margin: 10px;
}

.card {
  background-color: black;
}

.card .front-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-con-1 {
  width: 400px;
  height: 500px;
}

.card-con-1 img {
  height: 500px;
}

.card-con-2 {
  height: 295px;
}

.card-con-2 img {
  height: 295px;
}

.card-con-3 {
  height: 195px;
}

.card-con-3 img {
  width: 525px;
  height: 195px;
}

.card .front-content img {
  filter: brightness(0.8);
  object-fit: cover;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-con-1 .card .content {
  transform: translatex(-96%);
}

.side-1 .card .content {
  transform: translatex(96%);
}

.card-con-2 .card .content {
  transform: translatey(96%);
}
.card-con-3 .card .content {
  transform: translatey(-96%);
}

.card .content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  background: linear-gradient(50deg, #fdb51b 0%, #161922 100%);
  color: #e8e8e8;
  padding: 10px 25px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-container .card .content a {
  border: 2px solid #161922;
  background-color: #161922;
  border-radius: 2px;
  padding: 3px 10px;
  margin: 0;
  text-decoration: underline;
}

.project-container .card .content a:hover {
  opacity: 0.9;
}

.project-container .card .content .heading {
  color: #e8e8e8;
  font-size: 32px;
  margin: 0;
}

.card:hover .front-content img {
  opacity: 0;
}

@media only screen and (max-width: 400px) {
  .card .front-content img {
    width: 350px;
  }
  .card-con-1,
  .card-con-1 img,
  .card-con-2,
  .card-con-2 img,
  .card-con-3,
  .card-con-3 img {
    height: 200px;
    width: 300px;
  }
  .project-container .card .content .heading {
    font-size: 12px;
  }

  .card .content {
    font-size: 10px;
    padding: 10px;
  }

  .card-con-1 .card .content,
  .side-1 .card .content,
  .card-con-2 .card .content,
  .card-con-3 .card .content {
    transform: translatey(96%);
  }
}

@media only screen and (min-width: 400px) and (max-width: 770px) {
  .card .front-content img {
    width: 350px;
  }
  .card-con-1,
  .card-con-1 img,
  .card-con-2,
  .card-con-2 img,
  .card-con-3,
  .card-con-3 img {
    height: 200px;
    width: 350px;
  }
  .project-container .card .content .heading {
    font-size: 14px;
  }

  .card .content {
    font-size: 12px;
    padding: 20px;
  }

  .card-con-1 .card .content,
  .side-1 .card .content,
  .card-con-2 .card .content,
  .card-con-3 .card .content {
    transform: translatey(96%);
  }
}

@media only screen and (min-width: 770px) and (max-width: 980px) {
  .card .front-content img {
    width: 350px;
  }
  .project-container .card .content .heading {
    font-size: 22px;
  }
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateX(2%);
}
